pandas
numpy
seaborn
matplotlib
scikit-learn
dill
catboost
uvicorn
sdv
torch
fastapi
mysql-connector-python
sqlalchemy
pydantic
transformers
librosa
soundfile
bcrypt
python-dotenv
python-jose[cryptography]
#-e .

